.analises-grid {
     grid-template-columns: repeat(4, 1fr);
     display: grid;
     gap: 1.5rem;
}
.analises-grid .card:nth-child(1) { grid-column: 1 / 2; }
.analises-grid .card:nth-child(2) { grid-column: 2 / 3; }
.analises-grid .card:nth-child(3) { grid-column: 3 / 4; }
.analises-grid .card:nth-child(4) { grid-column: 4 / 5; }
.analises-grid .card:nth-child(5) { grid-column: 1 / 3; }
.analises-grid .card:nth-child(6) { grid-column: 3 / 5; }
.analises-grid .card:nth-child(7) { grid-column: 1 / 3; }

.report-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

#metricaDesempenhoChart1,
#metricaDesempenhoChart2 {
    height: 300px !important;
}