.analises-grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: auto auto auto; 
     gap: 1.5rem;
}

/* --- Posicionamento dos Cards --- */
.analises-grid .card:nth-child(1) { grid-column: 1 / 2; } 
.analises-grid .card:nth-child(2) { grid-column: 2 / 3; } 
.analises-grid .card:nth-child(3) { grid-column: 3 / 4; } 
.analises-grid .card:nth-child(4) { grid-column: 4 / 5; } 

.analises-grid .card:nth-child(5) { grid-column: 1 / 3; grid-row: 2 / 3; } /* Gráfico 1 */

.analises-grid .card:nth-child(6) { 
    grid-column: 3 / 5; 
    grid-row: 2 / 4; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}
/*sec gráfico*/
.analises-grid .card:nth-child(7) { grid-column: 1 / 3; grid-row: 3 / 4; } 

.chart-layout-wrapper {
    display: flex;
    align-items: flex-start;
    height: 300px;
    width: 100%;
}

.chart-area-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
}

.custom-chart-legend {
    width: 120px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 11px;
    color: black;
}

.legend-row {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.legend-row .box {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 2px;
}

.box-yolo11 { border: 2px solid #002080; background: transparent; }
.box-yolov10 { background: #FADEC9; border: 1px solid #E6B89C; }
.box-grey { background: #EAEAEA; border: 1px solid #D0D0D0; }


.report-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content); 
    gap: 1.5rem 2rem; 
    margin-top: 1rem;
    height: auto; 
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.info-label {
    font-size: 16px;
    font-weight: 600; 
    color: #000;
}

.info-value {
    font-size: 46px;
    font-weight: 500;
    color: #000;
    line-height: 1.1;
    margin: 2px 0; 
}

.info-value sup {
    font-size: 0.5em;
    vertical-align: super;
}

.info-footer {
    font-size: 23px;
    color: black;
}
#metricaDesempenhoChart1,
#metricaDesempenhoChart2 {
    height: 100% !important;
    width: 100% !important;
}