.dashboard-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}


.dashboard-grid .card:nth-child(1) { grid-column: 1 / 2; }
.dashboard-grid .card:nth-child(2) { grid-column: 2 / 3; }
.dashboard-grid .card:nth-child(3) { grid-column: 3 / 4; }
.dashboard-grid .card:nth-child(4) { grid-column: 4 / 5; }
.dashboard-grid .card:nth-child(5) { grid-column: 1 / 3; grid-row: 2 / 3; }
.dashboard-grid .card:nth-child(6) { grid-column: 3 / 5; grid-row: 2 / 3; }
.dashboard-grid .card:nth-child(7) { grid-column: 1 / 2; }
.dashboard-grid .card:nth-child(8) { grid-column: 2 / 3; }
.dashboard-grid .card:nth-child(9) { grid-column: 3 / 5; }

.bar-chart-container,
.doughnut-chart-container,
.line-chart-container {
    height: 250px;
    width: 100%;
    position: relative;
}

.doughnut-chart-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.doughnut-inner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.doughnut-inner-text .value {
    font-size: 32px;
    font-weight: 600;
}
.doughnut-inner-text .label {
    font-size: 14px;
    color: var(--color-grey-dark);
}
#cicloVidaChart {
    max-width: 200px;
}

.stacked-bar {
    width: 100%;
    height: 30px;
    display: flex;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
    margin-top: 8px;
}
.bar-segment {
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
}
.gaiola-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.gaiola-row span {
    font-weight: 500;
}